In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('final_combined_binary_labels_data.csv')
df

                                                message  label
0     잠시 심사 채용 통화 인식 본인 이름 명의 도용 피해 사건 연루 여기 확인 차 전화...      1
1     잠시 개시 통화 본인 이름 명의 도용 무례 피해 사건 연루 여기 인물 확인 차 전화...      1
2     잠시 통화 본인 이름 기업 명의 도용 피해 사건 연루 여기 쇠똥 확인 차 전화 세 ...      1
3     물건 주지 방식 사기혐의 이제 통장 자체 판매 인 용도 사용 때문 천연 문제 부분 ...      1
4     소총 물건 주지 방식 사기혐의 이제 통장 자체 판매 인 용도 사용 뜻 때문 명제 문...      1
...                                                 ...    ...
7423  개의 연락을 시도한 것은 이번이 두 번째입니다 u는 파운드 상금을 받았습니다 번 청...      1
7424                                   집으로 산책로로 갈 예정인가요      0
7425                        안타깝지만 그럴 기분이었어 그럼다른 제안은 없나요      0
7426  그 사람이 욕을 좀 했는데 다음 주에 다른 걸 사고 싶은 것처럼 행동해서 그 사람이...      0
7427                                    rofl 그 이름에 충실하다      0

[7428 rows x 2 columns]

In [3]:
df.isnull().sum()

message    3
label      0
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df

                                                message  label
0     잠시 심사 채용 통화 인식 본인 이름 명의 도용 피해 사건 연루 여기 확인 차 전화...      1
1     잠시 개시 통화 본인 이름 명의 도용 무례 피해 사건 연루 여기 인물 확인 차 전화...      1
2     잠시 통화 본인 이름 기업 명의 도용 피해 사건 연루 여기 쇠똥 확인 차 전화 세 ...      1
3     물건 주지 방식 사기혐의 이제 통장 자체 판매 인 용도 사용 때문 천연 문제 부분 ...      1
4     소총 물건 주지 방식 사기혐의 이제 통장 자체 판매 인 용도 사용 뜻 때문 명제 문...      1
...                                                 ...    ...
7423  개의 연락을 시도한 것은 이번이 두 번째입니다 u는 파운드 상금을 받았습니다 번 청...      1
7424                                   집으로 산책로로 갈 예정인가요      0
7425                        안타깝지만 그럴 기분이었어 그럼다른 제안은 없나요      0
7426  그 사람이 욕을 좀 했는데 다음 주에 다른 걸 사고 싶은 것처럼 행동해서 그 사람이...      0
7427                                    rofl 그 이름에 충실하다      0

[7425 rows x 2 columns]

In [7]:
df.to_csv('Final.csv')