### 전화번호, 계좌번호 생성

In [1]:
import pandas as pd
import numpy as np

In [4]:
data_org = pd.read_csv('C:/Users/03123/SKKU_KKKC/bopibopi/random_numbers.csv', index_col=0)
data_org

           phone_num     account_num
0      010-3582-8674      9521474398
1      010-0649-3572     39428039715
2      010-7059-6182     32792741350
3      010-0751-4751   4920903482397
4      010-3694-0768  90537089578042
...              ...             ...
14995  010-0925-9718      3949558972
14996  010-7316-5267     57839282097
14997  010-1457-5716     82578535831
14998  010-4589-7564   4219581323501
14999  010-4956-5049   5278195840795

[15000 rows x 2 columns]

In [48]:
phone_numbers = pd.DataFrame(data_org['phone_num'])
phone_numbers

           phone_num
0      010-3582-8674
1      010-0649-3572
2      010-7059-6182
3      010-0751-4751
4      010-3694-0768
...              ...
14995  010-0925-9718
14996  010-7316-5267
14997  010-1457-5716
14998  010-4589-7564
14999  010-4956-5049

[15000 rows x 1 columns]

In [39]:
for i in range(len(phone_numbers)):
    phone_numbers.loc[i]=phone_numbers.loc[i].replace('-','')

In [50]:
phone_test = phone_numbers.replace('-','', inplace=True)

In [51]:
phone_test

In [49]:
phone_numbers

           phone_num
0      010-3582-8674
1      010-0649-3572
2      010-7059-6182
3      010-0751-4751
4      010-3694-0768
...              ...
14995  010-0925-9718
14996  010-7316-5267
14997  010-1457-5716
14998  010-4589-7564
14999  010-4956-5049

[15000 rows x 1 columns]

In [46]:
phone_numbers

In [10]:
account_numbers = pd.DataFrame(data_org['account_num'])
account_numbers

          account_num
0          9521474398
1         39428039715
2         32792741350
3       4920903482397
4      90537089578042
...               ...
14995      3949558972
14996     57839282097
14997     82578535831
14998   4219581323501
14999   5278195840795

[15000 rows x 1 columns]

In [ ]:
account_numbers.to_csv('C:/Users/03123/SKKU_KKKC/bopibopi/account_numbers.csv')

In [53]:
import random

def get_rand_phone_number():
    numbers = "0123456789"
    num1 = "".join(random.sample(numbers, 4))
    num2 = "".join(random.sample(numbers, 4))
    
    phone_num = "010{0}{1}".format(num1, num2)
    
    return phone_num

In [63]:
new_phones = []

for i in range(15005):
    a = get_rand_phone_number()
    if a not in new_phones:
        new_phones.append(a)
    else:
        continue

In [66]:
new_phones_df = pd.DataFrame(new_phones)
new_phones_df.columns = ['phone_num']

In [21]:
import random

#14자리 전화번호
def get_rand_numbers():
    numbers = '012345789'
    num_none0 = '123456789'
    num1 = "".join(random.sample(num_none0, 6))
    num2 = "".join(random.sample(numbers, 6))

    return str(0) * 2 + str(num1) +str(num2)

In [22]:
new_nums = []

for i in range(15000):
    a = get_rand_numbers()
    if a not in new_nums:
        new_nums.append(a)
    else:
        continue

In [28]:
new_df = pd.DataFrame(new_nums)
new_df.columns = (['phone_num'])
new_df

            phone_num
0      00365412319825
1      00157348071425
2      00529867587032
3      00876239295703
4      00271463587043
...               ...
14995  00592718495320
14996  00213579289310
14997  00715392541378
14998  00189732125834
14999  00379451053914

[15000 rows x 1 columns]

In [68]:
phone_numbers = pd.concat([new_df, new_phones_df], ignore_index=True)
phone_numbers.to_csv('C:/Users/03123/SKKU_KKKC/bopibopi/phone_numbers.csv')

### DB 데이터 insert

In [1]:
# 환경설정
import os, sys
# PWD = os.getenv('PWD')
PWD = os.path.abspath('.')

PROJ_MISSING_MSG = """Set an enviroment variable:\n
`DJANGO_PROJECT=your_project_name`\n
or call:\n
`init_django(your_project_name)`
"""

def init_django(project_name=None):
    os.chdir(PWD)
    project_name = project_name or os.environ.get('DJANGO_PROJECT') or None
    if project_name == None:
        raise Exception(PROJ_MISSING_MSG)
    sys.path.insert(0, os.getenv('PWD'))
    os.environ.setdefault('DJANGO_SETTINGS_MODULE', f'{project_name}.settings')
    os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
    import django
    django.setup()

In [2]:
init_django('bopibopi') #project name

### organizations

In [3]:
import csv
from phishing.models import Organizations  # myapp은 앱 이름으로 적절하게 변경해야합니다.

def import_data_from_csv():
    with open('C:/Users/03123/SKKU_KKKC/bopibopi/rel_orgs.csv', 'r', encoding='utf-8') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            Organizations.objects.create(
                name=row['name'],
                image=row['image'],
                call=row['number'],
                work=row['work'],
                url=row['url'],
                category=row['cat']
            )
        print('Data imported successfully!')

if __name__ == "__main__":
    import_data_from_csv()

Data imported successfully!